body {
  font-family: sans-serif;
  margin: 0;
}

.accent-color {
  color: #68AF85;
}

.white {
  color: white;
}

.nav-links{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.nav-links > div + div > ul > li > a {
  text-decoration: none;
  color: #999;
  font-weight: bold;
}
.nav-links > div + div > ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.toast-container {
  height: 35px;
  width: 100%;
  background-color: #68AF85;
  display: flex;
  align-content: center;
}

.content-w-80 {
  width: 80%;
  margin: auto;
}

.toast-content {
  grid-template-columns: 3fr 1fr ;
  display: grid;

}

.toast-content:first-child {
  grid-column: 1;
}

.toast-content:last-child {
  grid-column: 2;
}

.margin-0{
  margin: 0;
}

.bold {
  font-weight: bold;
}

.toast-content ul > li {
  display: inline-block;
}

.toast-content ul > li > a {
  text-decoration: none;
}

.top-nav-links {
  display: flex;
  justify-content: space-between;
}

nav {
  height: 75px;
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 200px;
}

.nav-logo-container {
  grid-auto-columns: 1;
}

.nav-link-container {
  grid-auto-columns: 2 / span 4;
}

.nav-link-container > ul {
  display: flex;
  justify-content: space-evenly;
}

.nav-shopping {
  grid-auto-columns: 6;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
